/*imported font stlyes*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:600|PT+Sans:700|Poppins:700|Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Luckiest+Guy|Nosifer|Orbitron:500|Russo+One|Slackey|Wallpoet');

body, html {
    background-color: lightslategray;
    background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.7));    
    background-attachment: fixed;
    background-size: cover;
}

.card {
    margin: 2.5rem;
    box-shadow: 0 35px 40px -25px #000, 0 55px 30px -35px #111;
    border: 4px solid teal;
    border-radius: 5px;
}

.card-title {
    text-align: center;
    text-decoration: underline; 
}

.app-title {
    font-size: 7rem;
    text-align: center;
    font-family: 'Slackey','Wallpoet','Bungee Inline','Luckiest Guy','Russo One','Orbitron','Exo 2','Varela Round', 'PT Sans','Century Gothic'; 
}

/*Media Query Content*/
@media screen and (max-width: 768px) {

    .app-title {
        font-size: 5rem;
    }
}

